.elements__like {
    width: 22px;
    height: 19px;
    cursor: pointer;
    object-fit: cover;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(255, 255, 255, 0);
}

.elements__like:hover {
    opacity: 0.5;

}