.popup__button-close {
    width: 32px;
    height: 32px;
    position: relative;
    background-color: #000;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -330px;
    right: -237px;
    object-fit: contain;
    object-position: center top;
}

.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0;
        left: 130px;
    }
}
