.profile__info {
    max-width:  336px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 30px;
}

@media screen and (max-width: 600px) {
    .profile__info {
        padding: 0;
        justify-content: center;
        max-width: 282px;
        text-align: center;
    }
}