.profile__info {
    max-width:  336px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 20px;
}

@media screen and (max-width: 600px) {
    .profile__info {
        padding: 0;
        justify-content: center;
    }
}